@font-face {
        font-family: 'androidicon-2';
        src: url('../font/android-2.ttf') format('truetype');
}

.icon.androidicon-2:before{font-family:'androidicon-2';font-weight:normal !important}

.icon.androidicon-2.agoin:before { content: "\63"; }