@font-face {
        font-family: 'mobile-icon';
        src: url('../font/mobile-icon.ttf') format('truetype');        
}

.icon.mobile-icon:before{font-family:'mobile-icon';font-weight:normal !important}

.icon.mobile-icon.casota:before { content: "\3d"; }
